<!-- Masthead -->
<body class="bg">
<header class="masthead" id="page-top">
    <div class="container px-4 px-lg-5 h-100">
        
                <h2 class="text-white">Check Status</h2> <br>
                <table class="table table-striped table-responsive table-hover">
                      <thead>
                          <tr>
                                <th class="text-hide">User Id</th>
                               
                                <th>Full Name</th>
                                <th>DOB</th>
                                
                                <th>Gender</th>
                                <th>Contact</th>
                                <th>Email ID</th>
                                <th>Address</th>
                                <th>Adhaar Number</th>
                                <!-- <th>Course Id</th>  -->
                                <th>Status</th> 
                              </tr>
                          </thead>
                      <tbody>
                          <tr *ngFor="let Trainee of trainees">
                                <td>{{Trainee.userId}}</td>
                                <td>{{Trainee.fullName}}</td>
                                <td>{{Trainee.dob}}</td> <br>
                                 <td>{{Trainee.gender}}</td>
                                <td>{{Trainee.contactNumber}}</td>
                                <td>{{Trainee.emailID}}</td>
                                <td>{{Trainee.address}}</td>
                                <td>{{Trainee.aadharNumber}}</td>
                                <!-- <td>{{Trainee.courseid}}</td> -->
                                <td>{{Trainee.status}}</td>
                                <!-- <td>{{Trainee.status}}</td>  -->
                         
                          <!--  <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete</button>	-->
                          <!--       <td><button class="btn btn-warning" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td> -->
                              </tr>
                          <tr *ngIf="!trainees || trainees.length==0">
                                <th colspan="5">
                                      <p class="text-right text-danger">Sorry No Users Available</p>
                                    </th>
                              </tr>
                          </tbody>
                    </table>

                   <a class="btn btn-warning" href="/traineedashboard">Back to Home</a>
       
    </div>
</header>
</body>

